.header-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  text-align: rgba(104, 6, 146, 0.607);
  padding: 20px 0px;
  background-color: rgba(190, 141, 221, 0.466);
}
.button-signup{
  position: absolute;
  color: rgba(94, 98, 98, 0.614);
  border-radius: 2px;
  border-width: 1px;
  left:10px;
}
.image{
  width: 50px;
}
.button-cart {
  border: none;
  outline: none;
  background-color: #0b5ed7;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  border-radius: 7px;
  transition: 500ms;
}

.button-cart:hover {
  color: black;
  background-color: lightblue;
}

.button-cart-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-link {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  text-decoration: none;
}


.label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  